*{
    margin: 0;
    padding: 0;
}

.container{
    padding: 0;
    width: 100%;
}

.foda{
    width: 200px;
}

.row1{
    padding-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.welcome-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    background: linear-gradient(to right, #02d39f, #2dc9a2);
    border-radius: 50px;
}

.welcome-content p{
    margin: 0;
    color: white;
}

.icon-user {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    color: white;
  }
.icon-user{
    font-size: 1.75rem;
}